<a href="https://colab.research.google.com/github/ayman-06-stack/BIGDATALABS/blob/main/Lab_spark_sql-FIFA/lab_spark_sql_fifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, min, max, count, desc, sum, avg, when, lit
from pyspark.sql.window import Window

In [10]:
spark = SparkSession.builder.appName("FIFA_World_Cup_Analysis").getOrCreate()

In [12]:
df = spark.read.csv("fifaworldcup (1).csv", header=True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- date: date (nullable = true)
 |-- home_team: string (nullable = true)
 |-- away_team: string (nullable = true)
 |-- home_score: string (nullable = true)
 |-- away_score: string (nullable = true)
 |-- tournament: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- neutral: boolean (nullable = true)

In [13]:
df.count()

14536

In [14]:
df.show(5)

+----------+---------+---------+----------+----------+----------+-------+--------+-------+
|      date|home_team|away_team|home_score|away_score|tournament|   city| country|neutral|
+----------+---------+---------+----------+----------+----------+-------+--------+-------+
|1872-11-30| Scotland|  England|         0|         0|  Friendly|Glasgow|Scotland|  false|
|1873-03-08|  England| Scotland|         4|         2|  Friendly| London| England|  false|
|1874-03-07| Scotland|  England|         2|         1|  Friendly|Glasgow|Scotland|  false|
|1875-03-06|  England| Scotland|         2|         2|  Friendly| London| England|  false|
|1876-03-04| Scotland|  England|         3|         0|  Friendly|Glasgow|Scotland|  false|
+----------+---------+---------+----------+----------+----------+-------+--------+-------+
only showing top 5 rows

In [15]:
df.select(min("date"), max("date")).show()

+----------+----------+
| min(date)| max(date)|
+----------+----------+
|1872-11-30|1986-06-17|
+----------+----------+

In [16]:
df.groupBy("tournament").count().orderBy(desc("count"))

DataFrame[tournament: string, count: bigint]

In [17]:
df.filter(col("neutral") == True).count()

3009

In [18]:
df.groupBy("country")

GroupedData[grouping expressions: [country], value: [date: date, home_team: string ... 7 more fields], type: GroupBy]

In [19]:
df.filter((col("home_score") + col("away_score")) > 6).show()

+----------+----------------+----------------+----------+----------+--------------------+---------+--------+-------+
|      date|       home_team|       away_team|home_score|away_score|          tournament|     city| country|neutral|
+----------+----------------+----------------+----------+----------+--------------------+---------+--------+-------+
|1878-03-02|        Scotland|         England|         7|         2|            Friendly|  Glasgow|Scotland|  false|
|1878-03-23|        Scotland|           Wales|         9|         0|            Friendly|  Glasgow|Scotland|  false|
|1879-04-05|         England|        Scotland|         5|         4|            Friendly|   London| England|  false|
|1880-03-13|        Scotland|         England|         5|         4|            Friendly|  Glasgow|Scotland|  false|
|1881-03-12|         England|        Scotland|         1|         6|            Friendly|   London| England|  false|
|1882-02-18|Northern Ireland|         England|         0|        13|            Friendly|  Belfast| Ireland|  false|
|1882-02-25|           Wales|Northern Ireland|         7|         1|            Friendly|  Wrexham|   Wales|  false|
|1882-03-13|           Wales|         England|         5|         3|            Friendly|  Wrexham|   Wales|  false|
|1883-02-24|         England|Northern Ireland|         7|         0|            Friendly|Liverpool| England|  false|
|1884-02-23|Northern Ireland|         England|         1|         8|British Championship|  Belfast| Ireland|  false|
|1885-03-14|        Scotland|Northern Ireland|         8|         2|British Championship|  Glasgow|Scotland|  false|
|1885-03-23|           Wales|        Scotland|         1|         8|British Championship|  Wrexham|   Wales|  false|
|1885-04-11|Northern Ireland|           Wales|         2|         8|British Championship|  Belfast| Ireland|  false|
|1886-03-13|Northern Ireland|         England|         1|         6|British Championship|  Belfast| Ireland|  false|
|1886-03-20|Northern Ireland|        Scotland|         2|         7|British Championship|  Belfast| Ireland|  false|
|1887-02-05|         England|Northern Ireland|         7|         0|British Championship|Sheffield| England|  false|
|1888-03-03|           Wales|Northern Ireland|        11|         0|British Championship|  Wrexham|   Wales|  false|
|1888-03-24|Northern Ireland|        Scotland|         2|        10|British Championship|  Belfast| Ireland|  false|
|1889-03-02|         England|Northern Ireland|         6|         1|British Championship|Liverpool| England|  false|
|1889-03-09|        Scotland|Northern Ireland|         7|         0|British Championship|  Glasgow|Scotland|  false|
+----------+----------------+----------------+----------+----------+--------------------+---------+--------+-------+
only showing top 20 rows